* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #dbc9e0;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center; 
    margin: 50px;
}

form{
    display: grid;
    justify-items: center;
    margin: 200px ;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(52, 105, 173, 0.527);
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(500px, auto);
}

h2 {
    text-align: center;
    margin: 20px;
    color: #7674d6;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 8%;
}

.type {
    background: rgba(141, 126, 177, 0.116);
    width: 70%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
}

.submit {
    background: rgba(5, 136, 223, 0.438);
    width: 40%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 15%;

}

label {
    text-align: center;
    margin: 20px;
    color: #383737cc;
    font-weight: bold;
    font-size: 20px;
}


input[type=file]::file-selector-button {
    background: rgba(5, 136, 223, 0.438);
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-left: 30px;
}


img {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding: 20px;
    background-color: transparent;
}




